body {
    background-color: #d3d3d3;
}
#heading {
    background-color: #58a0ff;
    padding: 15px;
    color: #ffff;
}
ul.inline {
    padding-left: 0px;
    text-align: center;
}
ul.inline > li {
    display:inline-block;
    padding: 5px 10px;
    margin: 0px 40px 0px 40px;
}
ul.inline > li > a {
    color: FFFF;
    text-decoration: none;
}
ul.inline > li:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #ffff;
    cursor: pointer;
}
li.current {
    border-style: solid;
    border-width: 2px;
    border-color: #ffff;
}
.content {
    font-family: "Lucida Console", "Courier New", monospace';
}
.titles {
    font-family: 'Luminari', sans-serif;
}
#photo {
    float: right;
    padding: 30px;
}

