body {
    background-color: #d3d3d3;
}
#heading {
    background-color: #58a0ff;
    padding: 25px;
    color: #ffff;
}
ul.links {
    padding-left: 0px;
    text-align: center;
}
ul.links > li {
    display:inline-block;
    padding: 10px 20px;
}
ul.links > li > a {
    color: deeppink;
}
ul > li:hover{
    border-style: solid;
    border-width: 2px;
    border-color: #ffff;
    cursor: pointer;
}
.content {
    font-family: "Times New Roman", Times, serif;
}

