body {
    background-color: #d3d3d3;
}
#heading {
    background-color: #58a0ff;
    padding: 15px;
    color: #ffffff;
}
ul.inline {
    padding-left: 0px;
    text-align: center;
}
ul.inline > li {
    display:inline-block;
    padding: 5px 10px;
    margin: 0px 40px 0px 40px;
}
ul.inline > li > a {
    text-decoration: none;
    display:block;
    padding: 5px;
}
ul.inline > li:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    cursor: pointer;
}
li.current {
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
}
.content {
    font-family: "Lucida Console", "Courier New", 'monospace';
    margin-left: 20px;
}
.titles {
    font-family: 'Luminari', sans-serif;
}
.photo {
    float: right;
    padding: 30px;
}
#media {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
